# App
APP_PORT=4000
HTTP_PORT=8080
GRPC_PORT=9317

# Database
POSTGRES_HOST=database
POSTGRES_USER=telm
POSTGRES_PASSWORD=telm123
POSTGRES_DB=telm
POSTGRES_PORT=5432
SSL_MODE=disable

# Generator (usado com: make gen)
GEN_WORKERS=5
GEN_SLEEP_MS=0
# GEN_SERVICE_NAME=gen-service
# GEN_OTLP_ENDPOINT=otelcollector-telm:4318  # padrão HTTP; use api-telm:4318 para envio direto
